@{
    ViewData["Title"] = "Про мене";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Курсова робота Прокопішина Олексія, IC-22</h1>
        <p class="lead">@ViewData["Author"]</p>
        <hr class="my-4">
        <p>Основною метою цієї курсової роботи є створення бази даних для обліку пасажирів в аеропорту</p>
        <p>Для реалізації цієї бази даних використовується вільна реляційна система управління базами даних PostgreSQL разом з платформою .NET та фреймворком ASP.NET. Додаток та сама база даних створено у відповідних програмних середовищах Visual Studio та Microsoft SQL Server Management Studio. Використання таких інструментів дозволяє ефективно керувати базою даних та швидко отримувати необхідну інформацію.</p>
        <p>Написання цієї програми проводиться з метою закріпити та продемонструвати свої власні навички у проектуванні баз даних і розробці застосунків під них.</p>
    </div>
</div>
